<app-train-itineraries-search [(ngModel)]="searchForm" (search)="onSearch()"></app-train-itineraries-search>
<h2>Example on how to search for train schedules using RailKit API</h2>
<ul>
  <li>The search above is hardcoded to this criteria: "Paris Nord" to "London" on the 16th of October 2022.</li>
  <li>See in "src/app/services/TrainItineraries/train-itineraries.service.ts" file for more details. Read the comments in the code too</li>
  <li>Check console: Some outputs are there too</li>
  <li>Documentation about RailKit API: <a href="https://github.com/amadeus4dev-events/Developer-guide/blob/main/RailkitApi/README.md" target="_blank">here</a></li>
</ul>
<h2>Search Results: {{ travelOffers.length }}</h2>
<div *ngIf="travelOffers.length > 0">
    
    <ng-container *ngFor="let iti of travelOffers;">
      <mat-card class="flight-card" tabindex="0" *ngIf="iti.itinerary.bookableStatus=='BOOKABLE'" (click)="selection.emit()">
        <div>
          <div class="info">{{iti.itinerary.departureDateTime | date: 'E dd MMM'}}</div>
          <div class="date">{{iti.itinerary.departureDateTime | date: 'HH:mm'}}</div>
          <div class="info">{{iti.itinerary.origin.name}}</div>
        </div>
        <div class="info">Duration: Xh Ym</div> 
               
        <div>
          <div class="info">{{iti.itinerary.arrivalDateTime | date: 'E dd MMM' }}</div>
          <div class="date">{{iti.itinerary.arrivalDateTime | date: 'HH:mm'  }}</div>
          <div class="info">{{iti.itinerary.destination.name}}</div>
        </div>   
        <div class="card-price">
          <div>{{ iti.itinerary.co2Emission }}KG of CO2</div>
        </div>             
    </mat-card>
    </ng-container>
    
</div>